.footer {
  color: var(--cinza-4);
  font-size: 1.5rem;
  line-height: 1.33;
  background-color: var(--preto);
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  background: url("../img/detalhe.svg") no-repeat center;
  width: 130px;
  height: 100px;
  z-index: 1;
  top: -40px;
  left: 40px;
}

.footer .container {
  padding-top: 100px;
}

.footer__paragrafo {
  align-self: center;
  line-height: 1.33;
}

.footer__contato {
  color: var(--branco);
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.1;
}

.footer__contato li {
  margin-bottom: 20px;
}

.footer__contato li a {
  color: var(--branco);
  text-decoration: none;
}

.footer__copy {
  font-size: 1.25rem;
  color: var(--cinza-7);
}

@media (max-width: 800px) {
  .footer .container {
    padding-top: 80px;
  }

  .footer__paragrafo,
  .footer__copy {
    font-size: 1rem;
  }

  .footer__contato {
    font-size: 1.5rem;
  }

  .footer::before {
    display: none;
  }
}

@media (max-width: 500px) {
  .footer__paragrafo::before {
    top: 1px;
  }
}
